{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>ng-bind</h1>
        <p>用ng-bind来代替花括号绑定数据，可以避免网络环境差时看到花括号</p>
        <p>首页用ng-bind绑定，其他页面用花括号绑定，原因是因为首页需要加载AJS，其他页面已经加载，因此其他页面不用担心会出现花括号这个丑东西。</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
